<ion-content class="fundo" [fullscreen]="true">
  <div class="espaco">
    <ion-row style="margin-top: 30px">
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >CEP<span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="00000-000"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >Número<span style="color: red">*</span></ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex: 1010"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >Complemento</ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex: Bloco 2, Aparatamento 12 "
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >Rua</ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex: Rua Silvio Duarte"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >Bairro</ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex: Pinherinho"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >Cidade</ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex: Curitiba"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item class="roundedInput" line="none">
          <ion-label position="floating"
            >Estado</ion-label
          >
          <ion-input
            type="text"
            expand="block"
            style="color: #222"
            placeholder="Ex: Paraná"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col class="espaco">
        <ion-button shape="block" color="tertiary" > Cadastrar</ion-button>
    </ion-col>
  </ion-row>

</ion-footer>